.pan-btn p{
    margin: 0;
    font-size: 14px;
    background: rgba(60, 126, 190, 0.2);
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 20px;
    top: 15px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}
.pan-btn2 p{
    margin: 0;
    font-size: 14px;
    background: rgba(238, 147, 34, 0.20);
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}