<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="breadcrumb">
                <div class="card card-animate w-100 mt-4">
                  <div class="card-body">
                    <div class="search-topbar">
                     <ul class="p-0 m-0">
                      <li>Lead No. : 56565</li>
                      <li>Customer Name: Rahul Kumar</li>
                      <li>Loan amount: 10.00 lacs</li>
                      <li>Product: LAP</li>
                      <li>Scheme: Fresh</li>
                     </ul>
                    </div>
                    <div class="table-history text-center mt-3 d-flex justify-content-between align-items-center">
                      <div class="dropdown">

                      </div>
                      <div class="head">
                      <h6 class="m-0">Workflow history</h6>
                    </div>
                    <div class="two-btn">
                      <img src="../../assets/icons/dwnld.svg">                      
                      <img src="../../assets/icons/share.svg">                      
                    </div>
                    </div>

                    <div class="search-table-data">
                    <div class="table-responsive mt-4">
                      <table class="table no-wrap">
                        <thead>
                          <tr class="main-head">
                            <th class="border-top-0">Applicant status</th>
                            <th class="border-top-0">Assignee role</th>
                            <th class="border-top-0 border-right">Date & Time</th>
                            <th class="border-top-0">Remarks</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">Move to Disbursal</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Zuber <br> Credit Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>File checked.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-paleyellow mb-0">Legal report vetted</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Kritish <br> State Legal Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Legal report vetting done.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-paleyellow mb-0">Legal report received</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Vikram <br> Vendor</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Report submitted.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">Final approved</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Vivek <br> National Credit Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Approved as recommended</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-lightblue mb-0">Technical vetted</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Sourav <br> Area Technical Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Technical report vetting done</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-lightblue mb-0">Technical report submitted</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Vikram <br> Vendor</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Valuation report submitted.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">Financially approved</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Kritish <br> State Credit Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Approved as recommended.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">Appraisal submitted</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Zuber <br> Credit Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Submitted for approval.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">Query submitted</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Rahul <br> Branch Sales Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Queries submitted to branch.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-paleyellow mb-0">RCU report submitted</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Rahul <br> RCU Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>RCU report submitted</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-paleyellow mb-0">FI report submitted</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Vikram <br> Vendor</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>FI report submitted</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-lightred mb-0">Legal report initiated</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Vikram <br> Vendor</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Legal report initiated</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">Query Asked</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Zuber <br> Credit Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Queries raised in system/mail.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">PD Positive</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Zuber <br> Credit Manager</span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>PD done – result positive.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-lightblue mb-0">Technical Initiated</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Anshika <br> Operation Manager </span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>Technical initiated to vendor.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-lightgreen mb-0">RCU Initiated</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Anshika <br> Operation Manager </span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>RCU initiated.</span>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                              <div class="d-flex align-items-center">
                                <div>
                                  <h6 class="bg-gray mb-0">Login</h6>
                                </div>
                              </div>
                            </td>
                            <td><span>Harpreet <br> Relationship Manager </span></td>
                            <td><span><img src="../../assets/icons/calendar.svg">15/10/2023 <br><img src="../../assets/icons/clock.svg"> 17:00:00</span></td>
                            <td>
                              <span>File login.</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                </div>
                </div>
                </div>