<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="breadcrumb">
          <div class="card card-animate w-100">
            <div
              class="card-body d-flex align-items-center justify-content-between"
            >
              <div>
                <span class="f-7 fs-5">Credit</span>
              </div>
              <div class="d-flex">
                <select
                  id="dropdown"
                  class="form-select me-2"
                  [(ngModel)]="selectedFilter"
                  (ngModelChange)="onFilterChange($event)"
                >
                  <option *ngFor="let filter of filters" [value]="filter">
                    {{ filter }}
                  </option>
                </select>
  
                <select
                  id="dropdown"
                  class="form-select"
                  [(ngModel)]="selectedState"
                  (ngModelChange)="onStateChange($event)"
                >
                  <option *ngFor="let state of states" [value]="state">
                    {{ state }}
                  </option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="sales w-100">
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
          <div class="col-md-12 text-center mt-3">
            <div class="productivity-tabs">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
              <button
                type="button"
                id="pills-financial-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-financial" 
                ype="button"
                role="tab"
                aria-controls="pills-home" 
                aria-selected="true"
                class="nav-link active text-uppercase"
                [class.active]="isActiveButton === 'button1'"
                (click)="setActiveButton('button1')"
              >
                Credit
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
              type="button"
              id="pills-financial-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-financial" 
              ype="button"
              role="tab"
              aria-controls="pills-home" 
              aria-selected="true"
              class="nav-link right-tab-border text-uppercase"
                [class.active]="isActiveButton === 'button2'"
                (click)="setActiveButton('button2')"
              >
              Credit Leaderboard
              </button>
            </li>
              </ul>
            </div>
          </div>
          </div>
          </div>
          </div>
          <div class="sales w-100" *ngIf="isActiveButton === 'button1'">
            <div class="card card-animate w-100">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6"> Avg no. of files processed by a CM</span>
                        <div
                          class="state-chart"
                          id="Avg-CM-Files-Chart"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card box-s h-100">
                      <div class="card-body text-center">
                        <span class="f-6"> Avg no of files approved 
                            by different roles </span>
                            
                            <table class="simple-table w-100">
                              <thead>
                                <tr>
                                  <th>Role</th>
                                  <th>Count</th>
                                  <th>Percentage</th>
                                </tr>
                              </thead>
                              <div class="border-bottom mt-3"></div>
                              <tbody>
                                <tr>
                                  <td>CM</td>
                                  <td>10</td>
                                  <td>
                                    <div class="progress">
                                      <div
                                        class="progress-bar"
                                        role="progressbar"
                                        style="width: 20%"
                                        aria-valuenow="20"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                      > 
                                      20%
                                    </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>ACM</td>
                                  <td>30</td>
                                  <td>
                                    <div class="progress">
                                      <div
                                        class="progress-bar"
                                        role="progressbar"
                                        style="width: 35%"
                                        aria-valuenow="35"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                      >
                                    35%
                                    </div>                                
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>SCM</td>
                                  <td>300</td>
                                  <td>
                                    <div class="progress">
                                      <div
                                        class="progress-bar"
                                        role="progressbar"
                                        style="width: 45%"
                                        aria-valuenow="45"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                      >
                                       45%
                                      </div>
                                    </div>
                                  </td>
                                </tr>
      
                              
                              </tbody>
                            </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6"> SCM workload </span>
                        <div
                          class="state-chart"
                          id="SCM-work-load-Chart"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6"> Conversion Ratio</span>
                        <div
                          class="state-chart"
                          id="Conversion-Chart"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6"> Activity TAT report </span>
                        <div
                          class="state-chart"
                          id="Activity-TAT-report"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-animate w-100 mt-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card box-s">
                        <div class="card-body text-center">
                          <span class="f-6"> ED % </span>
                          <div
                            class="state-chart"
                            id="ED-Chart"
                            style="width: 100%; height: 400px"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card box-s">
                        <div class="card-body text-center">
                          <span class="f-6"> First time approvals of FTR files </span>
                          <div
                            class="state-chart"
                            id="FTR-Files-Chart"
                            style="width: 100%; height: 400px"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           
          </div>
          <div
            class="sales-leaderborad w-100"
            *ngIf="isActiveButton === 'button2'"
          >
            <div class="card card-animate w-100">
              <div class="card-body align-items-center justify-content-between">
                <div class="box-s p-2">
                  <div class="container mt-5">
                    <table
                    id="table"
                    class="table border rounded business-insights-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr class="bg-lightblue">
                        <th class="border-bottom">S.no</th>
                        <th class="border-bottom">CM NAME</th>
                        <th class="border-bottom">EMP code</th>
                        <th class="border-bottom">Branch</th>
                        <th class="border-bottom">Area</th>
                        <th class="border-bottom">State</th>
                        <th class="border-bottom">Total Logins (in no.s)</th>
                        <th class="border-bottom">Total Disbursal (in amount lacs)</th>
                        <th class="border-bottom">% Target achieved</th>
                        <th class="border-bottom">% Delinquency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data">
                        <td class="border-bottom">{{ item.SNo }}</td>
                        <td class="border-bottom">{{ item.CmName }}</td>
                        <td class="border-bottom">{{ item.EmpCode }}</td>
                        <td class="border-bottom bg-yellow">{{ item.Branch }}</td>
                        <td class="border-bottom">{{ item.Area }}</td>
                        <td class="border-bottom">{{ item.TotalLogins }}</td>
                        <td class="border-bottom bg-red">{{ item.TotalDisbursal }}</td>
                        <td class="border-bottom">{{ item.State }}</td>
                        <td class="border-bottom bg-green">{{ item.Target }}</td>
                        <td class="border-bottom">{{ item.Delinquency }}</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  