.Attrition-box{
    border-radius: 5px;
    background: #F1F1F1;
    padding:10px 20px ;
    align-items: center;
}
.Attrition-box h6{
    margin-bottom: 0;
}
.Attrition-card{
    min-height: 456px;
    height: 100%;
}
.user-img {
    width: 89px;
    height: 89px;
    border-radius: 89px;
  }
  .bg-pink {
    background: rgba(254, 84, 25, 0.22);
    border-radius: 4px;
    border: 1px solid #fe5419;
  }
  .rm-cards {
    padding: 20px 0px;
  }
  
  .rm-blue {
    background: rgba(7, 71, 166, 0.22);
    border-radius: 4px;
    border: 1px solid #0747a6;
  }
  
  .rm-sky-blue {
    border-radius: 4px;
    border: 1px solid #a7e1fb;
    background: rgba(167, 225, 251, 0.25);
  }
  .rm-light-green {
    border-radius: 4px;
    border: 1px solid #07a14e;
    background: rgba(58, 218, 132, 0.22);
  }
  .rm-light-violet {
    border-radius: 4px;
    border: 1px solid #7460ee;
    background: rgba(116, 96, 238, 0.22);
  }
  .rm-light-orange {
    border-radius: 4px;
    border: 1px solid #ff821c;
    background: rgba(251, 140, 0, 0.22);
  }
  .bg-icons{
    padding: 7px;
    border-radius: 5px;
    background: #FFF;
  }