<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="card-body breadcraumb-align align-items-center justify-content-between"
          >
            <div>
              <span class="f-7 fs-5"> Insights</span>
            </div>
            <div class="breadcrumb-right-btn">
              <select
                id="dropdown"
                class="form-select me-2"
                [(ngModel)]="selectedFilter"
                (ngModelChange)="onFilterChange($event)"
              >
                <option *ngFor="let filter of filters" [value]="filter">
                  {{ filter }}
                </option>
              </select>

              <select
                id="dropdown"
                class="form-select"
                [(ngModel)]="selectedState"
                (ngModelChange)="onStateChange($event)"
              >
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="card card-animate w-100 mt-3">
          <div class="row gy-3 four-tile-card p-4">
            <div class="col-xl-3 col-md-6 col-sm-12">
              <div class="card">
                <div class="card-body text-white bg-blue rounded">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Total Logins</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img src="../../../assets/icons/insight login.svg" />
                      </span>
                    </div>
                    <div>
                      <span class="f-6 small-text">Total Amount</span><br />
                      <span class="f-7 fs-6 py-2"
                        >{{ loginTotalAmount }} Cr</span
                      ><br />
                      <span class="f-4 small-text">Total Files</span><br />
                      <span class="f-7 fs-4">{{ loginTotalFiles }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-12">
              <div class="card">
                <div class="card-body text-white bg-orange rounded">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Financial Approval</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img src="../../../assets/icons/insight financial.svg" />
                      </span>
                    </div>
                    <div>
                      <span class="f-6 small-text">Total Files</span><br />
                      <span class="f-7 fs-6 py-2">{{
                        financialTotalFiles
                      }}</span
                      ><br />
                      <span class="f-4 small-text">Total Amount</span><br />
                      <span class="f-7 fs-4">{{ financialTotalAmount }}Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-12">
              <div class="card">
                <div class="card-body text-white bg-yellow rounded">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Final Approval</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img src="../../../assets/icons/insight final.svg" />
                      </span>
                    </div>
                    <div>
                      <span class="f-6 small-text">Total Files</span><br />
                      <span class="f-7 fs-6 py-2">{{
                        finalTotalFiles
                      }}</span
                      ><br />
                      <span class="f-4 small-text">Total Amount</span><br />
                      <span class="f-7 fs-4">{{ finalTotalAmount }}Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-12">
              <div class="card">
                <div class="card-body text-white bg-purple rounded">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Disbursals</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img
                          src="../../../assets/icons/insight disbursal.svg"
                        />
                      </span>
                    </div>
                    <div>
                      <span class="f-6 small-text">Total Files</span><br />
                      <span class="f-7 fs-6 py-2">{{
                        disbursalTotalFiles
                      }}</span
                      ><br />
                      <span class="f-4 small-text">Total Amount</span><br />
                      <span class="f-7 fs-4">{{ disbursalTotalAmount }}Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-animate w-100 mt-2">
          <div class="card-body align-items-center justify-content-between">
            <div class="border-bottom mt-3"></div>
            <div class="row mt-3">
              <div class="col-md-3"></div>
              <div class="col-md-2 d-flex align-items-center">
                <span class="f-6 title"> Search Filter</span>
              </div>
              <div class="col-md-3">
                <select
                  id="dropdown"
                  class="form-select"
                  [(ngModel)]="selectedFilterState"
                  (ngModelChange)="onStateFilterChange($event)"
                >
                  <option *ngFor="let state of statesFilter" [value]="state">
                    {{ state }}
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <select
                  id="dropdown"
                  class="form-select"
                  [(ngModel)]="selectedTat"
                  (ngModelChange)="onTatChange($event)"
                >
                  <option *ngFor="let tat of tats" [value]="tat">
                    {{ tat }}
                  </option>
                </select>
              </div>
            </div>
            <div class="mt-3  insight-table">
              <div class="d-flex justify-content-end">
              <h6><b>Amount in lacs</b></h6>
            </div>
              <p-treeTable
                [value]="files"
                [scrollable]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
              >
                <ng-template pTemplate="header">
                  <tr class="tat-head-first-r text-center text-white">
                    <th colspan="2"></th>
                    <th colspan="1" class="theadcolor-1">Login</th>
                    <th colspan="1" class="theadcolor-2">Financial</th>                    
                    <th colspan="1" class="theadcolor-1">Final Approval</th>                    
                    <th colspan="3" class="theadcolor-3">Disbursal</th>
                  </tr>
                  <tr class="tat-head-second-r  ">
                    <th colspan="2" class=" text-center text-white">State Name</th>
                        <th class=" text-center text-white">Number of file</th>
                        <th class=" text-center text-white" >Amount</th>
                        <th class=" text-center text-white">Amount</th> 
                        <th class=" text-center text-white">Target</th>
                        <th class=" text-center text-white">Actual</th>
                        <th class=" text-center text-white">Percentage</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr [ttRow]="rowNode">
                    <td colspan="2" >
                      <p-treeTableToggler
                        [ngClass]="'custom-toggler'"
                        [rowNode]="rowNode"
                      ></p-treeTableToggler>
                      {{ rowData.StateName }}
                    </td>
                    <td class="text-center">{{ rowData.loginFiles }}</td>
                    <td class="text-center cursor-pointer border-end" routerLink="/business-insights">{{ rowData.loginAmount }} </td>
                    <td class="text-center border-end">{{ rowData.financialAmount }}</td>
                    <td class="text-center">{{ rowData.target }}</td>

                    <td class="text-center">{{ rowData.actual }}</td>
                    <td class="text-center">{{ rowData.percentage }}</td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
