<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="breadcrumb">
                <div class="card card-animate w-100">
                    <div class="card-body breadcraumb-align align-items-center justify-content-between">
                        <div>
                            <span class="f-7 fs-5">Team Hierarchy</span>
                        </div>
                        <div class="breadcrumb-right-btn">

                        </div>
                    </div>
                </div>

                <div class="card card-animate w-100 mt-2">
                    <div class="card-body">
                        <div class="financial-drop">
                            <p-organizationChart [value]="data">
                                <ng-template let-node pTemplate="person">
                                    <div class="p-2 text-center">
                                        <img [src]="node.data.image" class="mb-3 w-3rem h-3rem" />
                                        <div class="font-bold">{{ node.data.name }}</div>
                                        <div>{{ node.data.title }}</div>
                                    </div>
                                </ng-template>
                            </p-organizationChart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>