.active{
  
    background: rgba(58, 218, 132, 0.17)
}
tr.bg-lightblue {
    background: #F3F6F9;
}
ul.pagination {
    gap: 10px;
}
div#table_info {
    font-size: 13px;
}
.bg-yellow {
    background: #FEEEE1 !important;
}
.bg-red{
    background-color: #FBDDDD;
}
.bg-green{
    background-color: #D5F6E4;
}
td {
    font-weight: bold;
}

.productivity-tabs ul.nav-pills {
    border: 1px solid #908C8C;
    border-radius: 50px;
    overflow: hidden;
    padding: 1px;
}
.productivity-tabs ul li button {
    font-size: 13px;
    font-weight: 600;
    padding: 15px;
    color: #000;
}
.productivity-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link button#pills-financial-tab {
    background: #0747A6;
    padding: 15px;
    border-radius: 50px 0 0 50px;
    color: #000;
}
.productivity-tabs .nav-pills .nav-link.active{
    color: #fff;
}
.productivity-tabs .nav-pills .nav-link.right-tab-border.active {
    border-radius: 0px 50px 50px 0px;
}
.productivity-tabs {
    width: fit-content;
}
.pan-btn p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    background: #dfeaf0;
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 40px;
    top: 67px;
    border-radius: 4px;
}
.pan-btn2 p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    background: rgba(63, 193, 201, 0.13);
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 40px;
    top: 105px;
    border-radius: 4px;
}

@media (max-width: 767px){
    .productivity-tabs ul.nav-pills {
        padding: 0;
    }
    .productivity-tabs ul li button {
        padding: 10px !important;
        font-size: 12px !important;
    }
}