<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="breadcrumb">
          <div class="card card-animate w-100">
            <div
              class="card-body breadcraumb-align align-items-center justify-content-between"
            >
              <div>
                <span class="f-7 fs-5"> Disbursal </span>
              </div>
              <div class="breadcrumb-right-btn">
                <button
                  type="button "
                  class="text-white filter-btn-trend btn bg-blue border me-2"
                 (click)="toggle()" 
                >
                  {{!isToggled ?'View Trend' : 'Normal View'}} <i  class="fa-solid fa-chart-line" *ngIf="!isToggled"></i>
                </button>
                <select *ngIf="!isToggled"
                  id="dropdown"
                  class="form-select me-2"
                  [(ngModel)]="selectedFilter"
                  (ngModelChange)="onFilterChange($event)  "
                >
                  <option *ngFor="let filter of filters" [value]="filter">
                    {{ filter }}
                  </option>
                  
                </select>
                <select *ngIf="isToggled" 
                  id="dropdown"
                  class="form-select me-2"
                  [(ngModel)]="selectedTrendFilter"
                  (ngModelChange)=" onTrendFilterChange($event) "
                >
                  <option *ngFor="let filter of monthFilters" [value]="filter">
                    {{ filter }}
                  </option>
                  
                </select>
                <select
                  id="dropdown"
                  class="form-select"
                  [(ngModel)]="selectedState"
                  (ngModelChange)="!isToggled ?onStateChange($event) : ontrendStateChange($event)"
                >
                  <option *ngFor="let state of states" [value]="state">
                    {{ state }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div id="normal-view" *ngIf="!isToggled" class="normal-view w-100">
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card box-s">
                      <div class="card-body text-center position-relative">
                        <span class="f-6 title"> Disbursal achievement </span>
                        <div
                          class="state-chart"
                          id="Disbursal-Achievement-Chart"
                          style="width: 100%; height: 400px"
                        ></div>
                        <div class="graphn-bottom-text">
                          <p>Target - 100 Cr</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> Product wise disbursal </span>
                        <div
                          class="state-chart"
                          id="Productdisbursal"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title">Scheme wise disbursal </span>
                        <div
                          class="state-chart"
                          id="Schemedisbursal"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
  
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title">Average ticket size product wise </span>
                        <div
                        class="state-chart"
                        id="Average-Ticket-size"
                        style="width: 100%; height: 400px"
                      ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> State wise disbursal </span>
                        <div class="pan-btn">
                          <p>Pan India- 130Cr</p>
                        </div>
                        <div
                        class="state-chart"
                        id="StateWisedisbursalChart"
                        style="width: 100%; height: 400px"
                      ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> Disbursal TAT </span>
                        <div
                          class="state-chart"
                          id="Disbursal-tat"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title">Login to disbursal ratio </span>
                        <div
                        class="state-chart"
                        id="login-disbursal-ratio"
                        style="width: 100%; height: 400px"
                      ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> IRR/PF/Insurance </span>
                        <div
                        class="state-chart"
                        id="Irr-pf-insurance"
                        style="width: 100%; height: 400px"
                      ></div>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          <div id="trend-view" *ngIf="isToggled" class="trend-view w-100">
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> Disbursal achievement </span>
                        <div
                          class="state-chart"
                          id="trendDisbursalAchievement"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> Product wise disbursal </span>
                        <div
                          class="state-chart"
                          id="trendProductdisbursal"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title">
                          Scheme wise disbursal
                        </span>
                        <div
                          class="state-chart"
                          id="trendSchemedisbursal"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title">
                          Average ticket size product wise
                        </span>
                        <div
                          class="state-chart"
                          id="trend-Average-Ticket-size"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> State wise disbursal </span>
                        <div
                          class="state-chart"
                          id="trendStateWiseDisbursal"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> Disbursal TAT</span>
                        <div
                          class="state-chart"
                          id="trendDisbursalTat"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-animate w-100 mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> Login to disbursal ratio </span>
                        <div
                          class="state-chart"
                          id="trendLoginDisbursalRatio"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card box-s">
                      <div class="card-body text-center">
                        <span class="f-6 title"> IRR/PF/Insurance</span>
                        <div
                          class="state-chart"
                          id="trendIrPFIns"
                          style="width: 100%; height: 400px"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
