<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="p-2 d-flex align-items-center justify-content-between"
          >
            <div>
              <span class="f-7 fs-5"> TAT Analysis </span>
            </div>
            <div class="d-flex">
              <select
                id="dropdown"
                class="form-select me-2"
                [(ngModel)]="selectedFilter"
                (ngModelChange)="onFilterChange($event)"
              >
                <option *ngFor="let filter of filters" [value]="filter">
                  {{ filter }}
                </option>
              </select>

              <select
                id="dropdown"
                class="form-select"
                [(ngModel)]="selectedState"
                (ngModelChange)="onStateChange($event)"
              >
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div id="normal-view" class="normal-view w-100">
          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card graph-card">
                    <div class="card-body text-center " >
                      <span class="f-6"> Login to PD TAT  </span>
                      <div class="row mt-3 cursor-pointer" (click)="navigateToLoginToPD()" >
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-red"></div>
                          <span class="indicators px-1 fs-12">> 2 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-orange"></div>
                          <span class="indicators px-1 fs-12">>5 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-green"></div>
                          <span class="indicators px-1 fs-12">< 5 (days)</span>
                        </div>
                      </div>
                      <div class="progres-line-bg cursor-pointer " (click)="navigateToLoginToPD()" >
                        <div class="progress" >
                          <div
                            class="progress-bar green-bar"
                            role="progressbar"
                            [style.width]="progressValue1 + '%'"
                            [attr.aria-valuenow]="progressValue1"
                            [attr.aria-valuemin]="minValue1"
                            [attr.aria-valuemax]="maxValue1"
                          >
                          {{progressValue1 }}%
                          </div>
                          <div
                            class="progress-bar orange-bar"
                            role="progressbar"
                            [style.width]="progressValue2 + '%'"
                            [attr.aria-valuenow]="progressValue2"
                            [attr.aria-valuemin]="minValue2"
                            [attr.aria-valuemax]="maxValue2"
                          >
                          {{progressValue2}}%
                          </div>
                          <div
                            class="progress-bar red-bar"
                            role="progressbar"
                            [style.width]="progressValue3 + '%'"
                            [attr.aria-valuenow]="progressValue3"
                            [attr.aria-valuemin]="minValue3"
                            [attr.aria-valuemax]="maxValue3"
                          >
                          {{progressValue3}}%
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card graph-card">
                    <div class="card-body text-center" >
                      <span class="f-6"> Login to financial approval TAT </span>
                      <div class="row mt-3 cursor-pointer" (click)="navigateToLoginToFinancial()">
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-red"></div>
                          <span class="indicators px-1 fs-12">> 2 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-orange"></div>
                          <span class="indicators px-1 fs-12">>5 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-green"></div>
                          <span class="indicators px-1 fs-12">< 5 (days)</span>
                        </div>
                      </div>
                      <div class="progres-line-bg cursor-pointer" (click)="navigateToLoginToFinancial()">
                        <div class="progress">
                            <div
                              class="progress-bar green-bar"
                              role="progressbar"
                              [style.width]="progressValue1 + '%'"
                              [attr.aria-valuenow]="progressValue1"
                              [attr.aria-valuemin]="minValue1"
                              [attr.aria-valuemax]="maxValue1"
                            >
                            {{progressValue1 }}%
                            </div>
                            <div
                              class="progress-bar orange-bar"
                              role="progressbar"
                              [style.width]="progressValue2 + '%'"
                              [attr.aria-valuenow]="progressValue2"
                              [attr.aria-valuemin]="minValue2"
                              [attr.aria-valuemax]="maxValue2"
                            >
                            {{progressValue2}}%
                            </div>
                            <div
                              class="progress-bar red-bar"
                              role="progressbar"
                              [style.width]="progressValue3 + '%'"
                              [attr.aria-valuenow]="progressValue3"
                              [attr.aria-valuemin]="minValue3"
                              [attr.aria-valuemax]="maxValue3"
                            >
                            {{progressValue3}}%
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card graph-card">
                    <div class="card-body text-center">
                      <span class="f-6"> Query completion TAT  </span>
                      <div class="row mt-3 cursor-pointer" (click)="navigateToQuerycompletionTAT()">
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-red"></div>
                          <span class="indicators px-1 fs-12">> 2 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-orange"></div>
                          <span class="indicators px-1 fs-12">>5 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-green"></div>
                          <span class="indicators px-1 fs-12">< 5 (days)</span>
                        </div>
                      </div>
                      <div class="progres-line-bg cursor-pointer" (click)="navigateToQuerycompletionTAT()">
                        <div class="progress">
                            <div
                              class="progress-bar green-bar"
                              role="progressbar"
                              [style.width]="progressValue1 + '%'"
                              [attr.aria-valuenow]="progressValue1"
                              [attr.aria-valuemin]="minValue1"
                              [attr.aria-valuemax]="maxValue1"
                            >
                            {{progressValue1 }}%
                            </div>
                            <div
                              class="progress-bar orange-bar"
                              role="progressbar"
                              [style.width]="progressValue2 + '%'"
                              [attr.aria-valuenow]="progressValue2"
                              [attr.aria-valuemin]="minValue2"
                              [attr.aria-valuemax]="maxValue2"
                            >
                            {{progressValue2}}%
                            </div>
                            <div
                              class="progress-bar red-bar"
                              role="progressbar"
                              [style.width]="progressValue3 + '%'"
                              [attr.aria-valuenow]="progressValue3"
                              [attr.aria-valuemin]="minValue3"
                              [attr.aria-valuemax]="maxValue3"
                            >
                            {{progressValue3}}%
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card graph-card">
                    <div class="card-body text-center">
                      <span class="f-6">Final approval TAT  </span>
                      <div class="row mt-3 cursor-pointer" (click)="navigateToFinalapprovalTAT()">
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-red"></div>
                          <span class="indicators px-1 fs-12">> 2 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-orange"></div>
                          <span class="indicators px-1 fs-12">>5 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-green"></div>
                          <span class="indicators px-1 fs-12">< 5 (days)</span>
                        </div>
                      </div>
                      <div class="progres-line-bg cursor-pointer" (click)="navigateToFinalapprovalTAT()">
                        <div class="progress">
                            <div
                              class="progress-bar green-bar"
                              role="progressbar"
                              [style.width]="progressValue1 + '%'"
                              [attr.aria-valuenow]="progressValue1"
                              [attr.aria-valuemin]="minValue1"
                              [attr.aria-valuemax]="maxValue1"
                            >
                            {{progressValue1 }}%
                            </div>
                            <div
                              class="progress-bar orange-bar"
                              role="progressbar"
                              [style.width]="progressValue2 + '%'"
                              [attr.aria-valuenow]="progressValue2"
                              [attr.aria-valuemin]="minValue2"
                              [attr.aria-valuemax]="maxValue2"
                            >
                            {{progressValue2}}%
                            </div>
                            <div
                              class="progress-bar red-bar"
                              role="progressbar"
                              [style.width]="progressValue3 + '%'"
                              [attr.aria-valuenow]="progressValue3"
                              [attr.aria-valuemin]="minValue3"
                              [attr.aria-valuemax]="maxValue3"
                            >
                            {{progressValue3}}%
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card graph-card">
                    <div class="card-body text-center">
                      <span class="f-6"> Disbursal TAT  </span>
                      <div class="row mt-3 cursor-pointer" (click)="navigateToDisbursalTAT ()">
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-red"></div>
                          <span class="indicators px-1 fs-12">> 2 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-orange"></div>
                          <span class="indicators px-1 fs-12">>5 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-green"></div>
                          <span class="indicators px-1 fs-12">< 5 (days)</span>
                        </div>
                      </div>
                      <div class="progres-line-bg cursor-pointer"  (click)="navigateToDisbursalTAT ()">
                        <div class="progress">
                            <div
                              class="progress-bar green-bar"
                              role="progressbar"
                              [style.width]="progressValue1 + '%'"
                              [attr.aria-valuenow]="progressValue1"
                              [attr.aria-valuemin]="minValue1"
                              [attr.aria-valuemax]="maxValue1"
                            >
                            {{progressValue1 }}%
                            </div>
                            <div
                              class="progress-bar orange-bar"
                              role="progressbar"
                              [style.width]="progressValue2 + '%'"
                              [attr.aria-valuenow]="progressValue2"
                              [attr.aria-valuemin]="minValue2"
                              [attr.aria-valuemax]="maxValue2"
                            >
                            {{progressValue2}}%
                            </div>
                            <div
                              class="progress-bar red-bar"
                              role="progressbar"
                              [style.width]="progressValue3 + '%'"
                              [attr.aria-valuenow]="progressValue3"
                              [attr.aria-valuemin]="minValue3"
                              [attr.aria-valuemax]="maxValue3"
                            >
                            {{progressValue3}}%
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card graph-card">
                    <div class="card-body text-center">
                      <span class="f-6"> Technical TAT  </span>
                      <div class="row mt-3 cursor-pointer"  (click)="navigateToTechnicalTAT ()">
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-red"></div>
                          <span class="indicators px-1 fs-12">> 2 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-orange"></div>
                          <span class="indicators px-1 fs-12">>5 (days)</span>
                        </div>
                        <div class="col px-1 border d-flex align-items-center">
                          <div class="dot-green"></div>
                          <span class="indicators px-1 fs-12">< 5 (days)</span>
                        </div>
                      </div>
                      <div class="progres-line-bg cursor-pointer" (click)="navigateToTechnicalTAT ()">
                        <div class="progress">
                            <div
                              class="progress-bar green-bar"
                              role="progressbar"
                              [style.width]="progressValue1 + '%'"
                              [attr.aria-valuenow]="progressValue1"
                              [attr.aria-valuemin]="minValue1"
                              [attr.aria-valuemax]="maxValue1"
                            >
                            {{progressValue1 }}%
                            </div>
                            <div
                              class="progress-bar orange-bar"
                              role="progressbar"
                              [style.width]="progressValue2 + '%'"
                              [attr.aria-valuenow]="progressValue2"
                              [attr.aria-valuemin]="minValue2"
                              [attr.aria-valuemax]="maxValue2"
                            >
                            {{progressValue2}}%
                            </div>
                            <div
                              class="progress-bar red-bar"
                              role="progressbar"
                              [style.width]="progressValue3 + '%'"
                              [attr.aria-valuenow]="progressValue3"
                              [attr.aria-valuemin]="minValue3"
                              [attr.aria-valuemax]="maxValue3"
                            >
                            {{progressValue3}}%
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-animate w-100 mt-3">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card graph-card">
                  <div class="card-body text-center">
                    <span class="f-6">Legal TAT   </span>
                    <div class="row mt-3 cursor-pointer " (click)="LegalTAT()">
                      <div class="col px-1 border d-flex align-items-center">
                        <div class="dot-red"></div>
                        <span class="indicators px-1 fs-12">> 2 (days)</span>
                      </div>
                      <div class="col px-1 border d-flex align-items-center">
                        <div class="dot-orange"></div>
                        <span class="indicators px-1 fs-12">>5 (days)</span>
                      </div>
                      <div class="col px-1 border d-flex align-items-center">
                        <div class="dot-green"></div>
                        <span class="indicators px-1 fs-12">< 5 (days)</span>
                      </div>
                    </div>
                    <div class="progres-line-bg cursor-pointer"  (click)="LegalTAT()">
                        <div class="progress">
                            <div
                              class="progress-bar green-bar"
                              role="progressbar"
                              [style.width]="progressValue1 + '%'"
                              [attr.aria-valuenow]="progressValue1"
                              [attr.aria-valuemin]="minValue1"
                              [attr.aria-valuemax]="maxValue1"
                            >
                            {{progressValue1 }}%
                            </div>
                            <div
                              class="progress-bar orange-bar"
                              role="progressbar"
                              [style.width]="progressValue2 + '%'"
                              [attr.aria-valuenow]="progressValue2"
                              [attr.aria-valuemin]="minValue2"
                              [attr.aria-valuemax]="maxValue2"
                            >
                            {{progressValue2}}%
                            </div>
                            <div
                              class="progress-bar red-bar"
                              role="progressbar"
                              [style.width]="progressValue3 + '%'"
                              [attr.aria-valuenow]="progressValue3"
                              [attr.aria-valuemin]="minValue3"
                              [attr.aria-valuemax]="maxValue3"
                            >
                            {{progressValue3}}%
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
