.work-tabs ul.nav-pills {
    border: 1px solid #908C8C;
    border-radius: 50px;
    overflow: hidden;
    padding: 1px;
}
.work-tabs ul li button {
    font-size: 13px;
    font-weight: 600;
    padding: 15px;
    color: #000;
}
.work-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link button#pills-financial-tab {
    background: #0747A6;
    padding: 15px;
    border-radius: 50px 0 0 50px;
    color: #000;
}
.work-tabs .nav-pills .nav-link.active{
    color: #fff;
}
.work-tabs .nav-pills .nav-link.right-tab-border.active {
    border-radius: 0px 50px 50px 0px;
}
.work-tabs {
    width: fit-content;
}
.tat-box {
    border-radius: 4px;
    border: 0.5px solid #dddddd;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.08);
}
.tat-box h4{
    border-bottom: 1px solid #dddddd;
    padding: 15px 0 10px;
    font-size: 18px;
}
.number-list ul li {
    list-style: none;
    position: relative;
    text-align: center;
}
.number-list ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.number-list ul li:not(:last-child):after {
    position: absolute;
    content: '';
    background: #ccc;
    height: 60px;
    width: 1px;
    top: -5px;
    right: -50px;
}
.number-list {
    margin: 20px 20px 10px;
}
.number-list h6 {
    font-size: 22px;
    color: #4F5467;
    font-weight: 700;
}
.number-list p {
    font-size: 12px;
}

@media (max-width: 767px){
    .work-tabs ul.nav-pills {
        padding: 0;
    }
    .work-tabs ul li button {
        padding: 10px !important;
        font-size: 12px !important;
    }
    ul#pills-tab {
        display: block;
        border-radius: 30px;
        padding: 5px;
    }
    button#pills-financial-tab {
        border-radius: 50px;
        width: 100%;
    }
    button#pills-status-tab {
        width: 100%;
        border-radius: 30px;
    }
    }

@media (max-width: 623px){
    .work-tabs .nav-pills li{
        margin: 0 auto;
    }
    .work-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link button#pills-financial-tab {
        border-radius: 50px !important;    
    }
    .work-tabs .nav-pills{
        border: none !important;
    }
    .work-tabs .nav-pills .nav-link.right-tab-border.active {
        border-radius: 50px !important;
    }
    .work-tabs .nav-pills .nav-link {
        border-radius: 50px !important;
        border: 1px solid #ccc;
        margin:  5px 0px;
    }
}

