<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="breadcrumb">
                <div class="card card-animate w-100">
                    <div class="card-body breadcraumb-align align-items-center justify-content-between">
                        <div>
                            <span class="f-7 fs-5">Out of TAT</span>
                        </div>
                       
                    </div>
                </div>
                <div class="card card-animate w-100 mt-2">
                    <div class="card-body">
                        <div class="work-tabs">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active text-uppercase" id="pills-financial-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-financial" type="button" role="tab"
                                        aria-controls="pills-home" aria-selected="true">financial
                                        approval</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link text-uppercase right-tab-border" id="pills-status-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-status" type="button" role="tab"
                                        aria-controls="pills-status" aria-selected="false">Technical & Legal</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active mt-5" id="pills-financial" role="tabpanel"
                                aria-labelledby="pills-financial-tab">
                              <div class="approval-head text-center">
                                <h5 class="text-uppercase"><b>Financial approval</b></h5>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-3">
                                    <div class="tat-box">
                                        <h4 class="text-center">PD Pending</h4>
                                        <div class="number-list">
                                            <ul class="p-0">
                                                <li>
                                                    <div>
                                                        <h6>04</h6>
                                                        <p>Total</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p><=2 Days</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6 class="color-red">01</h6>
                                                        <p>>2 Days</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-3">
                                    <div class="tat-box">
                                        <h4 class="text-center">PD under query</h4>
                                        <div class="number-list">
                                            <ul class="p-0">
                                                <li>
                                                    <div>
                                                        <h6>06</h6>
                                                        <p>Total</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p><=2 Days</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6 class="color-red">03</h6>
                                                        <p>>2 Days</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-3">
                                    <div class="tat-box">
                                        <h4 class="text-center">Appraisal pending</h4>
                                        <div class="number-list">
                                            <ul class="p-0">
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p>Total</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p><=2 Days</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>00</h6>
                                                        <p>>2 Days</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-3">
                                    <div class="tat-box">
                                        <h4 class="text-center">Approval pending</h4>
                                        <div class="number-list">
                                            <ul class="p-0">
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p>Total</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p><=2 Days</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>00</h6>
                                                        <p>>2 Days</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                            </div>    
                            <div class="row mt-4 mb-5 justify-content-center">
                                <div class="col-md-3">
                                    <div class="tat-box">
                                        <h4 class="text-center">BTR</h4>
                                        <div class="number-list">
                                            <ul class="p-0">
                                                <li>
                                                    <div>
                                                        <h6>05</h6>
                                                        <p>Total</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p><=2 Days</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>02</h6>
                                                        <p class="color-red">>2 Days</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-3">
                                    <div class="tat-box">
                                        <h4 class="text-center">Final approval pending</h4>
                                        <div class="number-list">
                                            <ul class="p-0">
                                                <li>
                                                    <div>
                                                        <h6>05</h6>
                                                        <p>Total</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p><=2 Days</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6 class="color-red">02</h6>
                                                        <p>>2 Days</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-3">
                                    <div class="tat-box">
                                        <h4 class="text-center">Disbursal pending</h4>
                                        <div class="number-list">
                                            <ul class="p-0">
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p>Total</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>03</h6>
                                                        <p><=2 Days</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>00</h6>
                                                        <p>>2 Days</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                            </div>                      
                        </div>
                        <div class="tab-pane fade mt-5" id="pills-status" role="tabpanel"
                        aria-labelledby="pills-status-tab">
                        <div class="approval-head text-center">
                            <h5 class="text-uppercase"><b>Technical Status</b></h5>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Initiation pending</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Report pending</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Under query	2</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Vetting pending</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                        <div class="approval-head text-center mt-5">
                            <h5 class="text-uppercase"><b>Legal Status</b></h5>
                        </div>
                        <div class="row mt-4 mb-5">
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Initiation pending</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Report pending</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Under query	2</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="tat-box">
                                    <h4 class="text-center">Vetting pending</h4>
                                    <div class="number-list">
                                        <ul class="p-0">
                                            <li>
                                                <div>
                                                    <h6>02</h6>
                                                    <p>Total</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>03</h6>
                                                    <p><=2 Days</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h6>00</h6>
                                                    <p>>2 Days</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>