.state-chart{
    width: 200px;
}
.pan-btn p {
    margin: 0;
    font-size: 14px;
    background: #dfeaf0;
    font-size: 14px;
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 25px;
    top: 15px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}
.form-select{
    width: auto !important;
}