.state-chart{
    width: 200px;
}
.pan-btn p {
    margin: 0;
    font-size: 14px;
    background: #dfeaf0;
    max-width:fit-content;
    width: 100%;
    padding: 6px 8px;
    position: absolute;
    right: 40px;
    top: 67px;
    border-radius: 4px;
    font-weight: 600;
}