<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="card-body breadcraumb-align align-items-center justify-content-between"
          >
            <div>
              <span class="f-7 fs-5"> Login </span>
            </div>
            <div class="breadcrumb-right-btn ">
              <button
                type="button "
                class="text-white filter-btn-trend btn bg-blue border me-2"
               (click)="toggle()" 
              >
                {{!isToggled ?'View Trend' : 'Normal View'}} <i  class="fa-solid fa-chart-line" *ngIf="!isToggled"></i>
              </button>
              <select *ngIf="!isToggled" 
                id="dropdown"
                class="form-select me-2"
                [(ngModel)]="selectedFilter"
                (ngModelChange)="onFilterChange($event)"
              >
                <option *ngFor="let filter of filters" [value]="filter">
                  {{ filter }}
                </option>
              </select>
              <select *ngIf="isToggled" 
              id="dropdown"
              class="form-select me-2"
              [(ngModel)]="selectedTrendFilter"
              (ngModelChange)=" onTrendFilterChange($event) "
            >
              <option *ngFor="let filter of monthFilters" [value]="filter">
                {{ filter }}
              </option>
              
            </select>

              <select
                id="dropdown"
                class="form-select"
                [(ngModel)]="selectedState"
                (ngModelChange)="!isToggled ?onStateChange($event) : ontrendStateChange($event)"
              >
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div id="normal-view" *ngIf="!isToggled" class="normal-view w-100">
          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
            
                <div class="col-lg-4 col-md-6 g-2">
                  <div class="card box-s">
                    <div class="card-body text-center position-relative">
                      <span class="f-6 title"> State wise login </span>
                      <div class="pan-btn">
                        <p>Pan India- 3500</p>
                      </div>
                      <div
                        class="state-chart"
                        id="StateWiseChart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-4 col-md-6 g-2">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title">
                        State wise average no. of file logins per RM
                      </span>
                      <div
                        class="state-chart"
                        id="AverageStateWiseChart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 g-2">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Source of logins </span>
                      <div
                        class="state-chart"
                        id="Source"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-6 g-2">
                  <div class="card box-s">
                      <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Product wise logins </span>
                      <div
                        class="state-chart"
                        id="ProductLogins"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 g-2">
                  <div class="card box-s">
                  <div class="card-body text-center">
                    <span class="f-6 title">Scheme wise logins </span>
                    <div
                      class="state-chart"
                      id="SchemeLogins"
                      style="width: 100%; height: 400px"
                    ></div>
                  </div>
                  </div>
                </div>
                <div class="col-md-6 g-2">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> IMD </span>
                      <div class="total-btn">
                        <p>Total - 90%</p>
                      </div>
                      <div class="state-chart" id="IMD-chart" style="width: 100%; height: 400px"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 g-2">
                  <div class="card box-s">
                    <div class="card-body text-center calender-widget">
                      <span class="f-6 title">Days wise logins </span>
                      <div class="campaign-btn">
                        <p>Campaign <span class="campaign-dot"></span></p>
                      </div>
                      <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div id="trend-view" *ngIf="isToggled" class="trend-view w-100">
          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> State wise login </span>
                      <div
                        class="state-chart"
                        id="trendStateWiseChart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title">
                        State wise average no. of file logins per RM
                      </span>
                      <div
                        class="state-chart"
                        id="trendAverageStateWiseChart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Product wise logins </span>
                      <div
                        class="state-chart"
                        id="trendProductLogins"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title">
                        Scheme wise logins
                      </span>
                      <div
                        class="state-chart"
                        id="trendSchemeLogins"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Source </span>
                      <div
                        class="state-chart"
                        id="trendSource"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
