<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="card-body breadcraumb-align align-items-center justify-content-between"
          >
            <div>
              <span class="f-7 fs-5"> Conversion/Rejection analysis</span>
            </div>
            <div class="breadcrumb-right-btn">
              <button
                type="button "
                class="text-white filter-btn-trend btn bg-blue border me-2"
              >
                View Trend <i class="fa-solid fa-chart-line"></i>
              </button>
              <select
                id="dropdown"
                class="cursor-pointer form-select me-2"
                [(ngModel)]="selectedConversionFilter"
                (ngModelChange)="onConversionFilterChange($event)"
              >
                <option
                  *ngFor="let filter of ConversionFilters"
                  [value]="filter"
                >
                  {{ filter }}
                </option>
              </select>

              <select
                id="dropdown"
                class="cursor-pointer form-select"
                [(ngModel)]="selectedConversionState"
                (ngModelChange)="onConversionStateChange($event)"
              >
                <option *ngFor="let state of ConversionStates" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div id="normal-view" class="normal-view w-100">
          <div class="card card-animate w-100 mt-1">
            <div class="card-body">
              <div class="w-100 mb-3">
                <span class="f-7 fs-5 d-flex justify-content-center">
                  Conversion Ratio-48%</span
                >
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Conversion ratio</span>
                      <div
                        class="state-chart"
                        id="state-conversion"
                        style="width: 100%; height: 300px"
                      ></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title">State wise conversion ratio</span>
                      <div
                        class="state-chart"
                        id="state-login"
                        style="width: 100%; height: 300px"
                      ></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title">
                        Product wise conversion ratio
                      </span>
                      <div
                        class="state-chart"
                        id="product-conversion"
                        style="width: 100%; height: 300px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="normal-view" class="normal-view w-100">
          <div class="card card-animate w-100 mt-1">
            <div class="card-body">
              <div class="w-100 mb-3">
                <span class="f-7 fs-5 d-flex justify-content-center">
                  Rejection Ratio-35%</span
                >
              </div>
              <div class="row"></div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> State wise Rejection ratio</span>
                      <div
                        class="state-chart"
                        id="state-rejection"
                        style="width: 100%; height: 300px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title">
                        Product wise Rejection ratio
                      </span>
                      <div
                        class="state-chart"
                        id="product-Rejection"
                        style="width: 100%; height: 300px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Rejection Analysis </span>
                      <div
                        class="state-chart"
                        id="rejection-analysis"
                        style="width: 100%; height: 300px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal popup -->
        <!-- Modal -->
        <div
          class="modal fade"
          #RepaymentissueModal
          tabindex="-1"
          aria-labelledby="myModal"
          aria-hidden="true"
        >
          <div class="modal-dialog custom-width">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Repayment Issue
                </h5>
                <div class="close-icon">
                  <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="issue-popup">
                  <div class="main-head">
                    <h5>Detailed reason</h5>
                    <h5>Files</h5>
                  </div>
                  <div class="listing">
                    <ul class="p-0 m-0">
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Irregular track in other loans of same CIF</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Delinquency in loan s from other MLIs metioning the
                            exact DPDs
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Past write off/NPA detailing</h6>
                          <h6>7</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Excessive inquiries</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Willful defaulter</h6>
                          <h6>5</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Fixed obligation income ratio beyond norms</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Irregular BT track</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Negative feedback of customer from other vertical
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Customer is NRI</h6>
                          <h6>1</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Other</h6>
                          <h6>1</h6>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          #IncomeIssue
          tabindex="-1"
          aria-labelledby="myModal"
          aria-hidden="true"
        >
          <div class="modal-dialog custom-width">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Income Issue</h5>
                <div class="close-icon">
                  <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="issue-popup">
                  <div class="main-head">
                    <h5>Detailed reason</h5>
                    <h5>Files</h5>
                  </div>
                  <div class="listing">
                    <ul class="p-0 m-0">
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Customers criminal records</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Fake buisness shown while pd
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Other income like agri/rental found fake at the time of physical verification</h6>
                          <h6>7</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>buisness vintage of customer cannot be verified</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Wrong information of stock & sales have been given</h6>
                          <h6>5</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Negative profile/cautious profile/cash salaried</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Negative reference check</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          #Intentionissue
          tabindex="-1"
          aria-labelledby="myModal"
          aria-hidden="true"
        >
          <div class="modal-dialog custom-width">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Intention Issue</h5>
                <div class="close-icon">
                  <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="issue-popup">
                  <div class="main-head">
                    <h5>Detailed reason</h5>
                    <h5>Files</h5>
                  </div>
                  <div class="listing">
                    <ul class="p-0 m-0">
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Negative RCU report</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Loan rejected in other branch of our bank
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Mismatch in KYC of customer</h6>
                          <h6>7</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Property owner and income generator relationship cannot be verified</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Salaried person case login in the name of fake firm</h6>
                          <h6>5</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Actual ownership of buisness is escaped while credit verification</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Medical history of customer/coapp</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Negative feedback of customer from other vertical
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Others</h6>
                          <h6>1</h6>
                        </div>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div
          class="modal fade"
          #LegalTechnical
          tabindex="-1"
          aria-labelledby="myModal"
          aria-hidden="true"
        >
          <div class="modal-dialog custom-width">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Legal /Technical</h5>
                <div class="close-icon">
                  <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="issue-popup">
                  <div class="main-head">
                    <h5>Detailed reason</h5>
                    <h5>Files</h5>
                  </div>
                  <div class="listing">
                    <ul class="p-0 m-0">
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Property in negative area- salability issue</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Property in green/ecological zone
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Mismatch in legal and actual area</h6>
                          <h6>7</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Property in community dominated area-salability issue</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Title chain missing</h6>
                          <h6>5</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>No registered document of property</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Property of rejected society</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Possession stability cannot be verified
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          #Duplicatelead
          tabindex="-1"
          aria-labelledby="myModal"
          aria-hidden="true"
        >
          <div class="modal-dialog custom-width">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Duplicate Lead</h5>
                <div class="close-icon">
                  <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="issue-popup">
                  <div class="main-head">
                    <h5>Detailed reason</h5>
                    <h5>Files</h5>
                  </div>
                  <div class="listing">
                    <ul class="p-0 m-0">
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Specify the reason of such error</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          #CNI
          tabindex="-1"
          aria-labelledby="myModal"
          aria-hidden="true"
        >
          <div class="modal-dialog custom-width">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CNI</h5>
                <div class="close-icon">
                  <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="issue-popup">
                  <div class="main-head">
                    <h5>Detailed reason</h5>
                    <h5>Files</h5>
                  </div>
                  <div class="listing">
                    <ul class="p-0 m-0">
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Due to high ROI- please mention whether applied for ROI deviation along with reason</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>
                            Customer requires higher amount i.e rejected due to higher LTV
                          </h6>
                          <h6>2</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Buisness documents non-availability at customer end </h6>
                          <h6>7</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Miscommunication between buisness person & customer</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Case not disbursed beyond 45 days i.e customer denied for loan due to excessive delay in disbursement</h6>
                          <h6>5</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Dispute between proposed parties in the deal</h6>
                          <h6>4</h6>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <h6>Customer have denied for property documents for valuation</h6>
                          <h6>3</h6>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>
