
.navbar-menu {

  z-index: 1002;
  background: #fff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  -webkit-box-shadow: #ccc;
  box-shadow: 0px 0px 7px #cccccc82;
  padding: 0 0 calc(70px + 25px) 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  overflow-y: auto;
}
.navbar-menu .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .8rem 0.5rem;
  color: #212529;
  font-size: 0.9375rem;
  transform: all 0.3s ease-out;
  margin-top: 5px;
}
.navbar-menu .navbar-nav .nav-link.active , .navbar-menu .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #0747A6;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
.navbar-menu .navbar-nav .nav-link.active img , .navbar-menu .navbar-nav .nav-link:hover img {
  filter: brightness(0) invert(1);
}
.navbar-menu .navbar-nav .nav-link img {
  width: 18px;
  margin-right: 0.665rem;
}
.navbar-menu .navbar-nav .nav-link .badge {
  margin-left: auto;
  margin-right: -2px;
  z-index: 1;
}

.navbar-menu .btn-vertical-sm-hover {
  color: var(--vz-secondary-color);
  display: none;
}
.navbar-brand-box {
  padding: 0 1.3rem;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.logo {
  line-height: 70px;
}
.logo .logo-sm {
  display: none;
}
.logo-light {
  display: none;
}

.navbar-brand-box {
  padding: 10px;
}
.navbar-brand-box img {
  width: 100%;
  max-width: 170px;
  height: auto;
}


.collapsed {
  display: none; /* or any other style to hide the navbar */
}
.submenu li{
    list-style: none;
}
.submenu li a.nav-link.menu-link {
  background: #E3E9F3;
  border-radius: 4px;
  margin: 0;
  font-size: 14px;
}