<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="p-2 d-flex align-items-center justify-content-between"
          >
            <div>
              <span class="f-7 fs-5">
                <a routerLink="/tat-analysis">TAT Analysis</a> /{{routeName}}
              </span>
            </div>
            <div class="d-flex">
              <select
                id="dropdown"
                class="form-select me-2"
                [(ngModel)]="selectedFilter"
                (ngModelChange)="onFilterChange($event)"
              >
                <option *ngFor="let filter of filters" [value]="filter">
                  {{ filter }}
                </option>
              </select>

              <select
                id="dropdown"
                class="form-select"
                [(ngModel)]="selectedState"
                (ngModelChange)="onStateChange($event)"
              >
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="card card-animate w-100 mt-2">
          <div class="card-body align-items-center justify-content-between">
            <div class="row">
              <div class="col">
                <button class="btn bg-blue text-white" routerLink="/tat-analysis">
                  <i class="fa-solid fa-arrow-left"></i>Back
                </button>
              </div>
            </div>

            <div class="border-bottom mt-3"></div>
            <div class="row mt-3">
              <div class="col-md-2 d-flex align-items-center">
                <span class="f-6"> Search Filter</span>
              </div>
              <div class="col-md-3">
                <select
                  id="dropdown"
                  class="form-select"
                  [(ngModel)]="selectedFilterState"
                  (ngModelChange)="onStateFilterChange($event)"
                >
                  <option *ngFor="let state of statesFilter" [value]="state">
                    {{ state }}
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <select
                  id="dropdown"
                  class="form-select"
                  [(ngModel)]="selectedTat"
                  (ngModelChange)="onTatChange($event)"
                >
                  <option *ngFor="let tat of tats" [value]="tat">
                    {{ tat }}
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <select
                  id="dropdown"
                  class="form-select"
                  [(ngModel)]="selectedStatus"
                  (ngModelChange)="onStatusChange($event)"
                >
                  <option *ngFor="let status of statuss" [value]="status">
                    {{ status }}
                  </option>
                </select>
              </div>
            </div>
            <div class="mt-3">
              <p-treeTable
                [value]="files"
                [scrollable]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>State Name</th>
                    <th>Current month login</th>
                    <th>Carry Forward</th>
                    <th>Total</th>
                    <th>Within 03 days</th>
                    <th>04 to 05 days</th>
                    <th>More than 5 days</th>
                    <th>Reject before PD</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                      <tr>
                        <th>No</th>
                        <th>%</th>
                      </tr>
                    </th>
                    <th>
                      <tr>
                        <th>No</th>
                        <th>%</th>
                      </tr>
                    </th>
                    <th>
                      <tr>
                        <th>No</th>
                        <th>%</th>
                      </tr>
                    </th>
                    <th>
                      <tr>
                        <th>No</th>
                        <th>%</th>
                      </tr>
                    </th>
                  </tr>
                  
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr [ttRow]="rowNode">
                    <td>
                      <p-treeTableToggler [ngClass]="'custom-toggler'"
                        [rowNode]="rowNode"
                      ></p-treeTableToggler>
                      {{ rowData.StateName }}
                    </td>
                    <td>{{ rowData.CurrentMmonthLogin }}</td>
                    <td>{{ rowData.CarryForward }}</td>
                    <td>{{ rowData.Total }}</td>
                    <td>{{ rowData.Within03Number }}</td>
                    <td>{{ rowData.Within03percent }}</td>
                    
                    <td>{{ rowData.to05number }}</td>
                    <td>{{ rowData.to05npercent }}</td>

                    <td>{{ rowData.Morethan5Number }}</td>
                    <td>{{ rowData.Morethan5Percent }}</td>
                    
                    <td>{{ rowData.RejectBeforeNumber }}</td>
                    <td>{{ rowData.RejectBeforePercent }}</td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
