/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
.cursor-pointer{
  cursor: pointer;;
}


.f-3 {
  font-weight: 300;
}
.f-4 {
  font-weight: 400;
}
.f-5 {
  font-weight: 500;
}
.f-6 {
  font-weight: 600;
}
.f-7 {
  font-weight: 700;
}
.fs-12
{
font-size:12px;
}
.f-8 {
  font-weight: 700;
}
.small-text {
  font-size: 13px;
}
.bg-blue {
  background: #0747a6;
}
.bg-orange {
  background: #ff821c;
}
.bg-purple {
  background: #7e74fb;
}
.bg-light-blue {
  background: #5a96e3;
}

.card {
  border: none !important;
}

.graph-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* Adjust opacity here */
  transition: box-shadow 0.3s ease;
  margin-top: 20px;
}
.filter-btn-trend {
  min-width: 140px;
}

.tile-chart canvas {
  left: -9px !important;
  top: -19px !important;
  width: 106px !important;
  height: 106px !important;
  margin-left: 15%;
}

.breadcrumb {
  padding-top: 62px;
}
.collapse-content .main-content {
  margin-left: 90px !important;
  transition: all 0.3s ease-out;
}
.main-content {
  margin-left: 238px;
  background-color: #f4f4f4;
  transition: all 0.3s ease-out;
  min-height: 100vh;
}
.collapse-content .navbar-menu {
  width: 90px;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu:hover  {
  width: 238px;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-header .hamburger-open  {
  display:none;
}
.collapse-content .navbar-header .hamburger-close  {
  display:block;
}
.navbar-header .hamburger-open  {
   display:block;
}
.navbar-header .hamburger-close  {
  display:none;
}
.collapse-content .navbar-menu:hover  .navbar-nav  .nav-link span ,
.collapse-content .navbar-menu:hover  .navbar-brand-box {
  display: block !important;
}
.navbar-menu {
  width: 238px;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu .navbar-nav .nav-link span,
.collapse-content .navbar-menu .navbar-brand-box {
  display: none !important;
}
.collapse-content .navbar-menu .navbar-nav .nav-link {
  align-items: center;
  top: 50%;
}
.collapse-content .navbar-header {
  margin-left: 90px !important;
}
.navbar-header {
  margin-left: 240px !important;
}
@media only screen and (max-width: 991px){ 
  
.collapse-content .main-content {
  margin-left: 237px !important;
  transition: all 0.3s ease-out;
}
.main-content {
  margin-left: 90px;
  background-color: #f4f4f4;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu {
  width: 234px;
  transition: all 0.3s ease-out;
}
.navbar-menu {
  width: 90px;
  transition: all 0.3s ease-out;
}
.navbar-menu .navbar-nav .nav-link span,
 .navbar-menu .navbar-brand-box {
  display: none !important;
}
.collapse-content .navbar-menu .navbar-nav .nav-link {
  align-items: center;
  top: 50%;
}
.collapse-content .navbar-header {
  margin-left: 234px !important;
}
.navbar-header {
  margin-left: 90px !important;
}
}

.chart-pie {
  margin-left: 17%;
}

.btn:hover {
  background: #0747a6 !important;
}

///calender css

.fc-scrollgrid-sync-inner a {

    text-decoration: none !important;
    color: #444343;
    
  }


.fc-daygrid-day-top{
  a{
    color: black;
    font-weight: 600;
    font-size: 15px;
    line-height: 20.46px;
    text-align: Right;
    background-color: #F3F3F3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
  }
}

  .calender-widget .fc-daygrid-event-harness .fc-h-event  {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    background-color:#ff821c;
    border: none;
    line-height: 50px;
    text-align: center;
}
.fc .fc-daygrid-day-frame{
padding: 10px;
}
.form-select:focus{
  border-color:none !important;
  outline: 0;
  box-shadow:none !important;
} 
.form-select{
  font-size: 14px;
}