/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
.cursor-pointer{
  cursor: pointer;;
}

.text-left{
  text-align: left;
}


.f-3 {
  font-weight: 300;
}
.f-4 {
  font-weight: 400;
}
.f-5 {
  font-weight: 500;
}
.f-6 {
  font-weight: 600;
}
.f-7 {
  font-weight: 700;
}
.fs-12
{
font-size:12px;
}
.f-8 {
  font-weight: 700;
}
.small-text {
  font-size: 13px;
}
.smallTextSize{
  font-size: 10px;
}
.bg-blue {
  background: #0747a6;
}
.bg-orange {
  background: #ff821c;
}
.bg-purple {
  background: #7e74fb;
}
.bg-light-blue {
  background: #5a96e3;
}

.title{
  font-size: 18px;
  font-weight: 700;
  color: #3E5569;
}
/* width */
.navbar-menu::-webkit-scrollbar {
  width: 0px;
}
.card {
  border: none !important;
}
.box-s{
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09);
}
.filter-btn-trend {
  min-width: fit-content;
}
.breadcraumb-align ,
.breadcrumb-right-btn{
display: flex;
}
.tile-chart canvas {
  left: -9px !important;
  top: -19px !important;
  width: 106px !important;
  height: 106px !important;
  margin-left: 15%;
}

.breadcrumb {
  padding-top: 62px;
}
.collapse-content .main-content {
  margin-left: 90px !important;
  transition: all 0.3s ease-out;
}
.main-content {
  margin-left: 238px;
  background-color: #f4f4f4;
  transition: all 0.3s ease-out;
  min-height: 100vh;
}
.collapse-content .navbar-menu {
  width: 90px;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu:hover  {
  width: 238px;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-header .hamburger-open  {
  display:none;
}
.collapse-content .navbar-header .hamburger-close  {
  display:block;
}
.navbar-header .hamburger-open  {
   display:block;
}
.navbar-header .hamburger-close  {
  display:none;
}
.collapse-content .navbar-menu:hover  .navbar-nav  .nav-link span ,
.collapse-content .navbar-menu:hover  .navbar-brand-box {
  display: block !important;
}
.navbar-menu {
  width: 238px;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu .navbar-nav .nav-link span,
.collapse-content .navbar-menu .navbar-brand-box {
  display: none !important;
}
.collapse-content .navbar-menu .navbar-nav .nav-link {
  align-items: center;
  top: 50%;
}
.collapse-content .navbar-header {
  margin-left: 90px !important;
}
.navbar-header {
  margin-left: 240px !important;
}

@media only screen and (max-width: 991px){ 
  ul.submenu{
    padding: 0;
  }
  ul.submenu li a{
    font-size: 12px;
      padding: 5px 2px;
      font-weight: 600;
  }  
.collapse-content .main-content {
  margin-left: 237px !important;
  transition: all 0.3s ease-out;
}
.main-content {
  margin-left: 90px;
  background-color: #f4f4f4;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu {
  width: 234px;
  transition: all 0.3s ease-out;
}
.navbar-menu {
  width: 90px;
  transition: all 0.3s ease-out;
}
.navbar-menu .navbar-nav .nav-link span,
 .navbar-menu .navbar-brand-box {
  display: none !important;
}
.collapse-content .navbar-menu .navbar-nav .nav-link {
  align-items: center;
  top: 50%;
}
.collapse-content .navbar-header {
  margin-left: 234px !important;
}
.navbar-header {
  margin-left: 90px !important;
}
}

.chart-pie {
  margin-left: 17%;
}

.btn:hover {
  background: #0747a6 !important;
}
.toggle-btns:hover {
  background: rgba(58, 218, 132, 0.17) !important;
}

///calender css
.fc .fc-daygrid-day-top {
  display: flex;
  flex-direction: column !important;
  justify-content: left !important;
}  

.fc-scrollgrid-sync-inner a {

    text-decoration: none !important;
    color: #444343;
    
  }



.fc-daygrid-day-top{
  a{
    color: rgba(0, 0, 0, 0.493);
    font-weight: 600;
    font-size: 15px;
    line-height: 20.46px;
    text-align: Right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
  }
}

  .calender-widget .fc-daygrid-event-harness .fc-h-event  {
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    background-color:#4F709C;
    border: none;
    line-height: 70px;
    text-align: center;
    left: 47px;
    bottom: 13px;
}
.fc .fc-daygrid-day-frame{
padding: 10px;
}
.form-select:focus{
  border-color:none !important;
  outline: 0;
  box-shadow:none !important;
} 
.form-select{
  font-size: 14px;
}

button.fc-next-button.fc-button.fc-button-primary ,
button.fc-prev-button.fc-button.fc-button-primary,button.fc-today-button.fc-button.fc-button-primary {
  display: none;
}
.fc .fc-toolbar.fc-header-toolbar {
  justify-content: center;
}
.fc-toolbar-chunk h2 {
  font-size: 23px !important;
  background: #3ada843d;
  padding: 10px 23px;
  border-radius: 30px;
}
.fc-day-past.fc-daygrid-day {
  height: 50px;
}
.fc-view-harness  {
 height:630px !important;
}
.tat-table .p-treetable .p-treetable-thead > tr > th{
  background-color: transparent !important;
  color:#fff;
  padding: 1rem 0rem;
}
.tat-table .p-treetable  .p-treetable-tbody > tr > td{
  background-color: transparent !important;
  padding: 1rem 0rem;
  border-bottom:0.2px solid#ccc;
}

.tat-table .p-treetable-scrollable-header,
.insight-table .p-treetable-scrollable-header {
  border-radius: 4px;
}
.tat-table .p-treetable-scrollable-header .tat-head-first-r {
  border-radius: 4px;
  background-color:#0747a6;
  padding: 10px;
}

.tat-table .p-treetable-scrollable-header .tat-head-second-r{
  border-radius: 4px;
  background-color:#0A5BD4;
  padding: 10px;
}
.insight-table .p-treetable-scrollable-header .tat-head-first-r .theadcolor-1 {
 
  background-color:#7460EE33 !important;
  padding: 10px;
}
.insight-table .p-treetable-scrollable-header .tat-head-first-r .theadcolor-2 {

  background-color:#F8565633 !important;
  padding: 10px;
}.insight-table .p-treetable-scrollable-header .tat-head-first-r .theadcolor-3 {

  background-color:#07A14E33 !important;
  padding: 10px;
}
.insight-table .p-treetable  .p-treetable-thead  > tr > th{
  background-color: transparent !important;
  padding: 1rem 0rem;
  border-bottom:0.2px solid#ccc;
}
.insight-table .p-treetable  .p-treetable-tbody > tr > td{
  background-color: transparent !important;
  padding: 1rem 0rem;
  border-bottom:0.2px solid#ccc;
}

.insight-table .p-treetable-scrollable-header .tat-head-second-r{
  border-radius: 4px;
  background-color:#5281FF;
  padding: 10px;
}
.p-treetable-scrollable-header-box{
  padding-right: 0px !important;
}
.business-insights-table{
  color: #6A6A6A;
  font-size: 16px;
}

@media only screen and (max-width: 520px){ 
.breadcraumb-align ,
.breadcrumb-right-btn{
  display: inline-block;
  text-align: center;
  }
.breadcrumb-right-btn select ,
.breadcrumb-right-btn .filter-btn-trend{
  display: inline-block;
  min-width: 100%;
  margin-bottom: 5px;
  }
}
