/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
.f-3 {
  font-weight: 300;
}
.f-4 {
  font-weight: 400;
}
.f-5 {
  font-weight: 500;
}
.f-6 {
  font-weight: 600;
}
.f-7 {
  font-weight: 700;
}
.f-8 {
  font-weight: 700;
}
.small-text {
  font-size: 13px;
}
.bg-blue {
  background: #0747a6;
}
.bg-orange {
  background: #ff821c;
}
.bg-purple {
  background: #7e74fb;
}
.bg-light-blue {
  background: #5a96e3;
}

.card {
  border: none !important;
}

.graph-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* Adjust opacity here */
  transition: box-shadow 0.3s ease;
}
.filter-btn-trend {
  min-width: 120px;
}

.tile-chart canvas {
  left: -9px !important;
  top: -19px !important;
  width: 106px !important;
  height: 106px !important;
  margin-left: 15%;
}

.page-content {
  padding: calc(70px + 1.5rem) calc(1.5rem * 0.5) 60px calc(0.75rem * 0.5);
}

.collapse-content .main-content {
  margin-left: 90px !important;
  transition: all 0.3s ease-out;
}
.main-content {
  margin-left: 270px;
  background-color: #f4f4f4;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu {
  width: 90px;
  transition: all 0.3s ease-out;
}
.navbar-menu {
  width: 270px;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
}
.collapse-content .navbar-menu .navbar-nav .nav-link span,
.collapse-content .navbar-menu .navbar-brand-box {
  display: none !important;
}
.collapse-content .navbar-menu .navbar-nav .nav-link {
  align-items: center;
  top: 50%;
}
.collapse-content .navbar-header {
  margin-left: 90px;
}
.navbar-header {
  margin-left: 250px !important;
}

.chart-pie {
  margin-left: 17%;
}

.btn:hover {
  background: #0747a6 !important;
}

///calender css

.fc-scrollgrid-sync-inner {
  a {
    text-decoration: none !important;
    
  }
}

.fc-daygrid-day-top{
  a{
    color: black;
    font-weight: 600;
    font-size: 15px;
    line-height: 20.46px;
    text-align: Right;
  }
}
