<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="card-body d-flex align-items-center justify-content-between"
          >
            <div>
              <span class="f-7 fs-5">Productivity</span>
            </div>
            <div class="d-flex">
              <select
                id="dropdown"
                class="form-select me-2"
                [(ngModel)]="selectedFilter"
                (ngModelChange)="onFilterChange($event)"
              >
                <option *ngFor="let filter of filters" [value]="filter">
                  {{ filter }}
                </option>
              </select>

              <select
                id="dropdown"
                class="form-select"
                [(ngModel)]="selectedState"
                (ngModelChange)="onStateChange($event)"
              >
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="sales w-100">
          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
        <div class="col-md-12 text-center mt-3">
          <div class="productivity-tabs">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
            <button
              type="button"
              id="pills-financial-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-financial" 
              ype="button"
              role="tab"
              aria-controls="pills-home" 
              aria-selected="true"
              class="nav-link active text-uppercase"
              [class.active]="isActiveButton === 'button1'"
              (click)="setActiveButton('button1')"
            >
              Sales
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
            type="button"
            id="pills-financial-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-financial" 
            ype="button"
            role="tab"
            aria-controls="pills-home" 
            aria-selected="true"
            class="nav-link right-tab-border text-uppercase"
              [class.active]="isActiveButton === 'button2'"
              (click)="setActiveButton('button2')"
            >
              Sales Leaderboard
            </button>
          </li>
            </ul>
          </div>
        </div>
        </div>
        </div>
        </div>
        <div class="sales w-100" *ngIf="isActiveButton === 'button1'">
          <div class="card card-animate w-100">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center position-relative">
                      <span class="f-6 title"> Disbursal target achievement </span>
                      <div
                        class="state-chart"
                        id="target-achievement-Chart"
                        style="width: 100%; height: 400px"
                      ></div>
                      <div class="graphn-bottom-text">
                        <p>Target - 100crs</p>
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Login to disbursal ratio</span>
                      <div
                        class="state-chart"
                        id="Conversion-chart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Source of login files </span>
                      <div
                        class="state-chart"
                        id="Source-Login-Files-Chart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> FTR (First time right)</span>
                      <div
                        class="state-chart"
                        id="FTR-Chart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> CNI and Cancellation </span>
                      <div
                        class="state-chart"
                        id="Potential-Lost-Chart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-animate w-100 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> Avg Login and disbursal files per RM</span>
                      <div
                        class="state-chart"
                        id="AvgRM-Chart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card box-s">
                    <div class="card-body text-center">
                      <span class="f-6 title"> RM adequacy </span>
                      <div
                        class="state-chart"
                        id="RM-chart"
                        style="width: 100%; height: 400px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="sales-leaderborad w-100"
          *ngIf="isActiveButton === 'button2'"
        >
          <div class="card card-animate w-100">
            <div class="card-body align-items-center justify-content-between">
              <div class="box-s p-2">
                <div class="container mt-5">
                  <table
                    id="table"
                    class="table border rounded business-insights-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr class="bg-lightblue">
                        <th class="border-bottom">S.no</th>
                        <th class="border-bottom">RM NAME</th>
                        <th class="border-bottom">EMP code</th>
                        <th class="border-bottom">Branch</th>
                        <th class="border-bottom">Area</th>
                        <th class="border-bottom">State</th>
                        <th class="border-bottom">Total Logins (in no.s)</th>
                        <th class="border-bottom">Total Disbursal (in amount lacs)</th>
                        <th class="border-bottom">% Target achieved</th>
                        <th class="border-bottom">% Delinquency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data">
                        <td class="border-bottom">{{ item.SNo }}</td>
                        <td class="border-bottom">{{ item.RmName }}</td>
                        <td class="border-bottom">{{ item.EmpCode }}</td>
                        <td class="border-bottom bg-yellow">{{ item.Branch }}</td>
                        <td class="border-bottom">{{ item.Area }}</td>
                        <td class="border-bottom">{{ item.TotalLogins }}</td>
                        <td class="border-bottom bg-red">{{ item.TotalDisbursal }}</td>
                        <td class="border-bottom">{{ item.State }}</td>
                        <td class="border-bottom bg-green">{{ item.Target }}</td>
                        <td class="border-bottom">{{ item.Delinquency }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
