<div class="main-content">
  <div class="page-content">
    <div class="container-fluid mb-4">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="card-body breadcraumb-align align-items-center justify-content-between"
          >
            <div>
              <span class="f-7 fs-5"> Home </span>
            </div>
            <div class="dropdown d-flex">
              <select id="dropdown" class="cursor-pointer form-select me-2" [(ngModel)]="selectedState"
                (ngModelChange)="onStateChange($event)">
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
 
              <select *ngIf="clusters.length > 0" id="dropdown" class="cursor-pointer form-select me-2" [(ngModel)]="selectedCluster"
                (ngModelChange)="onClusterChange($event)">
                <option value="All">All</option>
                <option *ngFor="let cluster of clusters" [value]="cluster">
                  {{ cluster }}
                </option>
              </select>
              <select *ngIf="branches.length > 0" id="dropdown" class="cursor-pointer form-select me-2" [(ngModel)]="selectedBranch"
                (ngModelChange)="onBranchChange($event,selectedCluster)">
                <option value="All">All</option>
                <option *ngFor="let branch of branches" [value]="branch">
                  {{ branch }}
                </option>
              </select>
             
            </div>
          </div>
        </div>
      </div>
 
      <div class="card card-animate">
        <div class="d-flex justify-content-end pe-4 pt-2">
          <select id="dropdown" class="cursor-pointer out form-select" [(ngModel)]="selectedFilter"
          (ngModelChange)="onFilterChange($event)">
          <option *ngFor="let filter of filters" [value]="filter">
            {{ filter }}
          </option>
        </select>
        </div>
       
        <div class="card-body">
          <div class="row gy-3 four-tile-card">
            <div class="col-xl col-md-4">
              <div class="card" routerLink="/login">
                <div class="card-body text-white bg-dblue rounded five-card-min-h cursor-pointer">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Total Logins</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img src="../../../assets/icons/user-logo1.svg" />
                      </span>
                    </div>
                    <div class="text-part">
                      <span class="f-6 small-text"> Amount</span><br />
                      <span class="f-7 fs-6 py-2">{{ loginTotalAmount }} Cr</span><br />
                      <span class="f-4 small-text">No. of Files</span><br />
                      <span class="f-7">{{ loginTotalFiles }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
 
            <div class="col-xl col-lg-4 col-md-4">
              <div class="card"  routerLink="/financial-approvals">
                <div class="card-body text-white bg-orange rounded five-card-min-h cursor-pointer">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Financial Approvals</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img src="../../../assets/icons/financial1.svg" />
                      </span>
                    </div>
                    <div class="text-part">
                      <span class="f-6 small-text">No. of Files</span><br />
                      <span class="f-7 fs-6 py-2">{{
                        financialTotalFiles
                        }}</span><br />
                      <span class="f-4 small-text">Amount</span><br />
                      <span class="f-7">{{ financialTotalAmount }} Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
 
            <div class="col-xl col-lg-4 col-md-4">
              <div class="card"  routerLink="/final-approvals">
                <div class="card-body text-white bg-yellow rounded five-card-min-h cursor-pointer">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Final Approvals</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img src="../../../assets/icons/final.svg" />
                      </span>
                    </div>
                    <div class="text-part">
                      <span class="f-6 small-text">No. of Files</span><br />
                      <span class="f-7 fs-6 py-2">{{ finalTotalFiles }}</span><br />
                      <span class="f-4 small-text"> Amount</span><br />
                      <span class="f-7">{{ finalTotalAmount }} Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
 
            <div class="col-xl col-lg-4 col-md-4">
              <div class="card"  routerLink="/disbursal">
                <div class="card-body text-white bg-purple rounded five-card-min-h cursor-pointer">
                  <div class="d-flex">
                    <p class="f-7 mb-0">Disbursals</p>
                  </div>
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="">
                      <span class="fs-3">
                        <img src="../../../assets/icons/disbursal.svg" />
                      </span>
                    </div>
                    <div class="text-part">
                      <span class="f-6 small-text">No. of Files</span><br />
                      <span class="f-7 fs-6 py-2">{{
                        disbursalTotalFiles
                        }}</span><br />
                      <span class="f-4 small-text">Amount</span><br />
                      <span class="f-7">{{ disbursalTotalAmount }} Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
 
            <div class="col-xl col-lg-4 col-md-4">
              <div class="card"  >
                <div class="d-flex gap-2 card-body text-white bg-light-blue rounded five-card-min-h ">
                  <div class="col-6 text-center">
                    <p class="f-7 text-truncate mb-0">IRR Value</p>
                    <div class="irr-circle">
                      <img src="../../../assets/icons/orange-bar.png">
                      <p>{{IrrValue}}%</p>
                    </div>
                    <!-- <div class="align-items-center chart-pie">
                      <div class="tile-chart" id="IrrChartValue" style="width: 90px; height: 90px"></div>
                    </div> -->
                  </div>
                  <div class="col-6 text-center">
                    <p class="f-7 text-truncate mb-0">PF Value</p>
                    <div class="pff-circle">
                      <img src="../../../assets/icons/purple-bar.png">
                      <p>{{PFValue}}%</p>
                    </div>
                    <!-- <div class="align-items-center chart-pie">
                      <div class="tile-chart" id="PfChartValue" style="width: 90px; height: 90px"></div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xl-4 col-md-6">
          <div class="card box-s h-100">
            <div class="card-body text-center position-relative">
              <span class="f-6 title"> Disbursal meter</span>
              <p class="mb-0 lightgrey" >(MTD)</p>
              <div class="state-chart" id="DisbursalAchievementChart" style="width: 100%; height: 250px"></div>
              <div class="graphn-bottom-text">
                <p class="mb-0"><b>Target - {{DisbursalNumber}} Cr</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card box-s h-100">
            <div class="card-body text-center">
              <span class="f-6 title"> Disbursal achievement </span>
              <p class="fs-8 m-0 lightgrey">(Previous months)</p>
              <div class="state-chart" id="dash-trend-Disbursal-Achievement" style="width: 100%; height: 250px"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12">
          <div class="card box-s h-100">
            <div class="card-body">
              <div classs="business-table">
                <div class="row">
                  <div class="text-center position-relative">
                    <span class="f-6 title">Business Status</span>
                  </div>
                  <div class="d-flex justify-content-end calendar-icon">
                    <input type="date" class="cursor-pointer" id="birthday" name="birthday" [(ngModel)]="selectedDate" (change)="onDateSelected()"  />
                  </div>
                </div>
                <div class="table-responsive text-center mt-4">
                  <div class="bg-lightgray c-head">
                    <i class="fas fa-angle-left cursor-pointer" (click)="onPreviousDayClick()"
                      [ngClass]="{ disabled: isPreviousDisabled }"></i>&nbsp;
                    {{ currentDate | date : "dd-MM-yyyy" }}
                    &nbsp;
                    <i class="fas fa-angle-right cursor-pointer" (click)="onNextDayClick()"
                      [ngClass]="{ disabled: isNextDisabled }"></i>
                  </div>
                  <table class="table no-wrap">
                    <thead>
                      <tr class="bg-gray mid-head">
                        <th class="border-top-0"></th>
                        <th class="border-top-0">Number of files</th>
                        <th class="border-top-0">Amount (in Rs. Cr)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightred">Login</h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ loginData }}</td>
                        <td class="">{{ loginDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightpurple">PD</h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ pdData }}</td>
                        <td>{{ pdDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightyellow">
                                Financial Approvals
                              </h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ financialApprovalsData }}</td>
                        <td>{{ financialApprovalsDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightyellow">
                                Final Approvals
                              </h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ finalApprovalsData }}</td>
                        <td>{{ finalApprovalsDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightgreen">Disbursal</h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ disbursalData }}</td>
                        <td>{{ disbursalDataAmount }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-2">
        <div class="card box-s h-100">
          <div class="card-body">
            <div classs="business-table">
              <div class="row">
                <div class="text-center">
                  <span class="f-6 title">Work in Queue</span>
                  <p class="mb-0 lightgrey">(MTD)</p>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-xl col-md-4">
                  <div class="tat-box cursor-pointer" (click)="
                  workInprogressTable('/PD Pending / Login')
                ">
                    <div class="color-box bg-lightpurple">
                      <img src="../../../assets/icons/pd-icon.svg" />
                    </div>
                    <h4 class="text-center f-7">PD</h4>
                    <div class="number-list">
                      <ul class="p-0">
                        <li>
                          <a >
                            <div>
                              <h6>{{PDFile}}</h6>
                              <p>Files</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a >
                            <div>
                              <h6>{{PDAmount}} Cr</h6>
                              <p>Amount</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl col-md-4">
                  <div class="tat-box cursor-pointer" (click)="
                  workInprogressTable('/PD Pending / Login')
                ">
                    <div class="color-box bg-lightorange">
                      <img src="../../../assets/icons/w-financial.svg" />
                    </div>
                    <h4 class="text-center f-7">Financial Approvals</h4>
                    <div class="number-list">
                      <ul class="p-0">
                        <li>
                          <a >
                            <div>
                              <h6>{{financialFile}}</h6>
                              <p>Files</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a >
                            <div>
                              <h6>{{financialAmount}} Cr</h6>
                              <p>Amount</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl col-md-4">
                  <div class="tat-box cursor-pointer" (click)="
                  workInprogressTable('/PD Pending / Login')
                ">
                    <div class="color-box bg-lightorange">
                      <img src="../../../assets/icons/w-financial.svg" />
                    </div>
                    <h4 class="text-center f-7">Final Approvals</h4>
                    <div class="number-list">
                      <ul class="p-0">
                        <li>
                          <a >
                            <div>
                              <h6>{{finalFile}} </h6>
                              <p>Files</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a >
                            <div>
                              <h6>{{finalAmount}} Cr</h6>
                              <p>Amount</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl col-md-4">
                  <div class="tat-box cursor-pointer" (click)="
                  workInprogressTable('/PD Pending / Login')
                ">
                    <div class="color-box bg-lightred">
                      <img src="../../../assets/icons/w-technical.svg" />
                    </div>
                    <h4 class="text-center f-7">Technical</h4>
                    <div class="number-list">
                      <ul class="p-0">
                        <li>
                          <a >
                            <div>
                              <h6>{{technicalFile}}</h6>
                              <p>Files</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a >
                            <div>
                              <h6>{{technicalAmount}} Cr</h6>
                              <p>Amount</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl col-md-4">
                  <div class="tat-box cursor-pointer" (click)="
                  workInprogressTable('/PD Pending / Login')
                ">
                    <div class="color-box bg-lightred">
                      <img src="../../../assets/icons/auction.svg" />
                    </div>
                    <h4 class="text-center f-7">Legal</h4>
                    <div class="number-list">
                      <ul class="p-0">
                        <li>
                          <a >
                            <div>
                              <h6>{{legalFile}}</h6>
                              <p>Files</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a >
                            <div>
                              <h6>{{legalAmount}} Cr</h6>
                              <p>Amount</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl col-md-4">
                  <div class="tat-box cursor-pointer" (click)="
                  workInprogressTable('/PD Pending / Login')
                ">
                    <div class="color-box bg-lightgreen">
                      <img src="../../../assets/icons/w-disbursal.svg" />
                    </div>
                    <h4 class="text-center f-7">Disbursal</h4>
                    <div class="number-list">
                      <ul class="p-0">
                        <li>
                          <a >
                            <div>
                              <h6>{{disbursalFile}}</h6>
                              <p>Files</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a >
                            <div>
                              <h6>{{disbursalAmount}} Cr</h6>
                              <p>Amount</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <!-- <div class="col-md-5">
          <div class="card box-s h-100">
            <div class="card-body">
              <div classs="business-table">
                <div class="row">
                  <div class="text-center position-relative">
                    <span class="f-6 title">Business Status</span>
                  </div>
                  <div class="d-flex justify-content-end calendar-icon">
                    <input type="date" id="birthday" name="birthday" />
                  </div>
                </div>
                <div class="table-responsive text-center mt-4">
                  <div class="bg-lightgray c-head">
                    <i
                      class="fas fa-angle-left"
                      (click)="onPreviousDayClick()"
                      [ngClass]="{ disabled: isPreviousDisabled }"
                    ></i
                    >&nbsp;
                    {{ currentDate | date : "dd-MM-yyyy" }}
                    &nbsp;
                    <i
                      class="fas fa-angle-right"
                      (click)="onNextDayClick()"
                      [ngClass]="{ disabled: isNextDisabled }"
                    ></i>
                  </div>
                  <table class="table no-wrap">
                    <thead>
                      <tr class="bg-gray mid-head">
                        <th class="border-top-0"></th>
                        <th class="border-top-0">Number of files</th>
                        <th class="border-top-0">Amount(in Lacs)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightred">Login</h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ loginData }}</td>
                        <td class="">{{ loginDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightpurple">PD</h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ pdData }}</td>
                        <td>{{ pdDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightyellow">
                                Financial Approvals
                              </h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ financialApprovalsData }}</td>
                        <td>{{ financialApprovalsDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightyellow">
                                Final Approvals
                              </h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ finalApprovalsData }}</td>
                        <td>{{ finalApprovalsDataAmount }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center table-data">
                            <div>
                              <h6 class="mb-0 bg-lightgreen">Disbursal</h6>
                            </div>
                          </div>
                        </td>
                        <td>{{ disbursalData }}</td>
                        <td>{{ disbursalDataAmount }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->
 
      </div>
    </div>
  </div>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-width">
      <div class="modal-content">
        <div class="modal-header">
          <div class="w-100 position-relative">
            <div>
              <h5 class="modal-title text-center" id="exampleModalLabel">
                Today's Plan vs. Achievement
              </h5>
            </div>
            <div class="close-icon">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div class="popup-tabs">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active text-uppercase" id="pills-financial-tab" data-bs-toggle="pill"
                data-bs-target="#pills-financial" type="button" role="tab" aria-controls="pills-home"
                aria-selected="true">
                Login
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-uppercase right-tab-border" id="pills-status-tab" data-bs-toggle="pill"
                data-bs-target="#pills-status" type="button" role="tab" aria-controls="pills-status"
                aria-selected="false">
                PD
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-uppercase right-tab-border" id="pills-approval-tab" data-bs-toggle="pill"
                data-bs-target="#pills-status" type="button" role="tab" aria-controls="pills-status"
                aria-selected="false">
                Financial Approvals
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-uppercase right-tab-border" id="pills-disbursal-tab" data-bs-toggle="pill"
                data-bs-target="#pills-status" type="button" role="tab" aria-controls="pills-status"
                aria-selected="false">
                Disbursal
              </button>
            </li>
          </ul>
        </div>
 
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-financial" role="tabpanel"
            aria-labelledby="pills-financial-tab">
            <div class="head mt-4">
              <h5>Plan</h5>
              <div class="input-boxes">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">No. of files</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" />
                </div>
 
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Amount in Lacs</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
            </div>
 
            <div class="head">
              <h5>Achievement</h5>
              <div class="input-boxes">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">No. of files</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" />
                </div>
 
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Amount in Lacs</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" />
                </div>
              </div>
            </div>
            <div class="two-btn d-flex justify-content-center gap-4">
              <a href="" class="bottom-close">Close</a>
              <a href="" class="add">Add</a>
            </div>
            <div class="tab-pane fade mt-5" id="pills-status" role="tabpanel" aria-labelledby="pills-status-tab">
              fdgfgfgfg
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>