<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="breadcrumb">
        <div class="card card-animate w-100">
          <div
            class="card-body breadcraumb-align align-items-center justify-content-between "
          >
            <div>
              <span class="f-7 fs-5"> Dashboard </span>
            </div>
            <div class="dropdown">
              <select
                id="dropdown"
                class="form-select filter-dropdown"
                [(ngModel)]="selectedState"
                (ngModelChange)="onStateChange($event)"
              >
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-animate">
        <div class="card-body">
          <div class="row justify-content-end mb-2">
            <div class="col-md-3">
              <select
                id="dropdown"
                class="form-select "
                [(ngModel)]="selectedFilter"
                (ngModelChange)="onFilterChange($event)"
              >
                <option *ngFor="let filter of filters" [value]="filter">
                  {{ filter }}
                </option>
              </select>
            </div>
          </div>
          <div class="row gy-3 four-tile-card">
            <div class="col-xl col-md-4">
              <div class="card">
                <div class="card-body text-white bg-blue rounded five-card-min-h">
                  <div class="d-flex ">
                      <p class="f-7 mb-0">Total Logins</p>
                  </div>
                  <div
                    class="d-flex align-items-end justify-content-between"
                  >
                    <div class="">
                      <span class=" fs-3">
                        <img src="../../../assets/icons/user-logo.png" />
                      </span>
                    </div>
                    <div class="text-part">
                      <span class="f-6 small-text">Total Amount</span><br />
                      <span class="f-7 fs-6 py-2">{{loginTotalAmount}} Cr</span><br />
                      <span class="f-4 small-text">Total Files</span><br />
                      <span class="f-7 fs-4">{{loginTotalFiles}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl col-lg-4 col-md-4">
              <div class="card">
                <div class="card-body text-white bg-orange rounded five-card-min-h">
                  <div class="d-flex ">
                      <p class="f-7 mb-0">Financial Approval</p>
                  </div>
                  <div
                    class="d-flex align-items-end justify-content-between"
                  >
                    <div class="">
                      <span class=" fs-3">
                        <img src="../../../assets/icons/financial.png" />
                      </span>
                    </div>
                    <div class="text-part">
                      <span class="f-6 small-text">Total Files</span><br />
                      <span class="f-7 fs-6 py-2">{{financialTotalFiles}}</span><br />
                      <span class="f-4 small-text">Total Amount</span><br />
                      <span class="f-7 fs-4">{{financialTotalAmount}}Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl col-lg-4 col-md-4">
              <div class="card">
                <div class="card-body text-white bg-yellow rounded five-card-min-h">
                  <div class="d-flex ">
                      <p class="f-7 mb-0">Final Approvals</p>
                  </div>
                  <div
                    class="d-flex align-items-end justify-content-between"
                  >
                    <div class="">
                      <span class=" fs-3">
                        <img src="../../../assets/icons/financial.png" />
                      </span>
                    </div>
                    <div class="text-part">
                      <span class="f-6 small-text">Total Files</span><br />
                      <span class="f-7 fs-6 py-2">{{financialTotalFiles}}</span><br />
                      <span class="f-4 small-text">Total Amount</span><br />
                      <span class="f-7 fs-4">{{financialTotalAmount}}Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl col-lg-4 col-md-4">
              <div class="card">
                <div class="card-body text-white bg-purple rounded five-card-min-h">
                  <div class="d-flex ">
                      <p class="f-7 mb-0">Disbursals</p>
                  </div>
                  <div
                    class="d-flex align-items-end justify-content-between"
                  >
                    <div class="">
                      <span class=" fs-3">
                        <img
                          src="../../../assets/icons/solar_wallet-bold.png"
                        />
                      </span>
                    </div>
                    <div class="text-part">
                       <span class="f-6 small-text">Total Files</span><br />
                      <span class="f-7 fs-6 py-2">{{disbursalTotalFiles}}</span><br />
                      <span class="f-4 small-text">Total Amount</span><br />
                      <span class="f-7 fs-4">{{disbursalTotalAmount}}Cr</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl col-lg-4 col-md-4">
              <div class="card">
                <div class="d-flex card-body text-white bg-light-blue rounded five-card-min-h">
                  <div class="col-6 text-center">
                    <p class="f-7 text-truncate mb-0 ">IRR Value</p>
                    <div class="align-items-center chart-pie">
                      <div class="tile-chart"
                        id="IrrChartValue"
                        style="width: 90px; height:90px; "
                      ></div>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <p class="f-7 text-truncate mb-0">PF Value</p>
                    <div class="align-items-center  chart-pie">
                      <div class="tile-chart "
                        id="PfChartValue"
                        style="width: 90px; height: 90px; "
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
