

.four-tile-card .card {
  min-height: 165px;
}
.tile-chart {
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
}
.filter-dropdown option{
 font-size: 14px;
 padding-top: 500px;
}
.filter-dropdown{
  font-size: 14px;
}
.bg-yellow{
  background-color: #F6C342;
}
.text-part{
  text-align: right;
}
.five-card-min-h{
  min-height: 188px;
}