
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]{
  border:none;
  width: 20px;
}

input[type=date]:focus-visible {
  outline: none !important;
}
.four-tile-card .card {
  min-height: 165px;
}
.tile-chart {
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
}
.filter-dropdown option{
 font-size: 14px;
 padding-top: 500px;
}
.filter-dropdown{
  font-size: 14px;
}
.bg-yellow{
  background-color: #F6C342;
}
.text-part{
  text-align: right;
}
.bg-dblue{
  background-color: #0747A6;
}
.bg-lightblue{
  background-color: #DFF4FF;
}
.bg-blue{
  background-color: #CAEDFF;
}
.mid-head{
  font-size: 14px;
}
.business-table h4 {
  font-size: 16px !important;
}
.border-right {
  border-right: 1px solid #BFBFBF;
}
.graphn-bottom-text {
  position: absolute;
  left: calc(50% - 70px);
  bottom: 30px;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
}
.graphn-bottom-text p {
  font-size: 17px;
}
.custom-width {
  max-width: 700px;
  width: 100%;
}
.popup-tabs ul li button.active {
  background-color: #0747A6 !important;
  color: #fff !important;
}
.popup-tabs ul li button {
  background: #F6FCFF;
  font-size: 12px;
  padding: 4px 15px !important;
  color: #000 !important;
}
.popup-tabs  ul#pills-tab {
  background: #CAEDFF;
  padding: 10px;
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tab-content {
  padding: 0 30px;
}
a.bottom-close {
  background: #E1E1E1;
  color: #000;
}
.two-btn a{
  border-radius: 2px;
  padding: 6px 24px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  margin-top: 20px;
}
a.add {
  background: #07A14E;
  color: #fff !important;
} 
.modal-header {
  border-bottom: 0;
}

.close-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.bg-gray{
  background-color: #E8E8E8;
}
.bg-lightgray{
  background-color: rgba(206, 209, 217, 0.10);
}
.bg-lightred{
  background-color: rgba(254, 84, 25, 0.24);
}
.table-data h6{
  padding: 5px;
  min-width: 160px;
  width: 100%;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 600;
}
.bg-lightpurple{
  background-color: rgba(41, 98, 255, 0.10);
}
.bg-lightyellow{
  background-color: rgba(249, 155, 0, 0.20);
}
.bg-lightgreen{
  background-color: rgba(58, 218, 132, 0.21);
}
.tat-box  a{
  text-decoration: none;
  color: inherit;
}
.number-list li a{
  cursor: pointer;  
}
.tat-box {
  border-radius: 4px;
  border: 0.5px solid #dddddd;
  background: #FFF;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.08);
  min-height: 210px;
  margin-bottom: 20px;
}
.tat-box h4{
  padding: 10px 0 0px;
  font-size: 18px;
}
.number-list ul li {
  list-style: none;
  position: relative;
  text-align: center;
}
.number-list ul {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0;
}
.number-list:after {
  position: absolute;
  content: '';
  background: #BFBFBF;
  height: 60px;
  width: 1px;
  top: -5px;
  right: calc(50% + 10px);
}
.number-list {
  position: relative;
}
.number-list h6 {
  font-size: 17px;
  color: #4F5467;
  font-weight: 700;
}
.number-list p {
  font-size: 12px;
}
.color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.bg-aceblue{
  background-color: #ECF2FE;
}
.bg-lightgreen{
  background-color: #DDF5DF;
}
.bg-lightorange{
  background-color: #FCF4E7;
}
.calendar-icon {
  position: absolute;
  right: 10px;
  top: 15px;
  
}
.c-head {
  font-weight: bold;
  margin-bottom: 5px;
}
.five-card-min-h p {
  font-size: 15px;
}

// new css
.irr-circle, .pff-circle {
  margin-top: 16px;
}
.irr-circle img, .pff-circle img {
  background: #fff;
  padding: 6px;
  border-radius: 50px;
  width: 85px;
  height: 85px;
}
.irr-circle p, .pff-circle p {
  position: absolute;
  top: 36px;
  color: rgba(251, 140, 0, 1);
  font-size: 11px !important;
  font-weight: 700;
  margin-bottom: 0;
}
.irr-circle p{
  left: 35px;
}
.pff-circle p{
  left: 38px;
  color: #7e74fb;
}
.pff-circle, .irr-circle {
  position: relative;
}
.table>:not(caption)>*>* {
  padding: 0.2rem .2rem;
  color: #3E5569;
}

@media (max-width: 1280px) and (min-width: 1238px){
  .five-card-min-h img {
    width: 60px;
    height: 60px;
  }
}