.page-content {
    padding: calc(70px + 1.5rem) calc(1.5rem * 0.5) 60px calc(1.5rem * 0.5);
  }
  .main-content{
  margin-left:250px;
  background-color: #F4F4F4;
  height: 100vh;
  }
.card{
    border:none !important;
  }
  .four-tile-card .card{
min-height: 165px;  }
  .tile-chart{
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
  }