.pan-btn p{
    margin: 0;
    font-size: 14px;
    background: #7460ee33;
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}
.pan-btn2 p{
    margin: 0;
    font-size: 14px;
    background: #fbf7ef;
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}
.bucket-list tbody, td, tfoot, th, thead, tr{
    border-style: none !important;
    padding-top: 40px;
}
.border-bottom{
    border-bottom:  1px solid #ccc !important;
}

