.pan-btn p{
    margin: 0;
    font-size: 14px;
    background: #579BB1;
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}
.pan-btn2 p{
    margin: 0;
    font-size: 14px;
    background: #E1D7C6;
    width: fit-content;
    padding: 6px 8px;
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}
.bucket-list tbody, td, tfoot, th, thead, tr{
    border-style: none !important;
    padding-top: 10px;
}
.border-bottom{
    border-bottom:  1px solid #ccc !important;
}
.bg-gray{
    background-color: #E8E8E8;
}
.bucket-list tr {
    border-bottom: 1px solid #cbcbcb !important;
}

.table-data h6 {
    padding: 5px;
    min-width: 100px;
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 600;
}
.bg-lightpurple {
    background-color: rgba(41, 98, 255, 0.1);
}
.bg-lightred {
    background-color: rgba(254, 84, 25, 0.24);
}
.bg-lightyellow{
    background-color: rgba(249, 155, 0, 0.2);
}
.bg-lightgreen {
    background-color: rgb(241, 126, 126);
}